@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Contact Book</h1>
    <p>Click the below button to view the contact book. </p>
</div>


<div class="text-center" >
    <a class="btn btn-primary" asp-controller="ContactBook" asp-action="Index">Open Contact Book</a>
</div>
